<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty.myweb.source.mapper.SourceMapper">
  <resultMap id="BaseResultMap" type="com.beauty.myweb.source.model.Source">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="image_type" jdbcType="INTEGER" property="imageType" />
    <result column="video_type" jdbcType="INTEGER" property="videoType" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="person_name" jdbcType="VARCHAR" property="personName" />
    <result column="download_addr" jdbcType="VARCHAR" property="downloadAddr" />
    <result column="download_code" jdbcType="VARCHAR" property="downloadCode" />
    <result column="image_urls" jdbcType="VARCHAR" property="imageUrls" />
    <result column="is_legal" jdbcType="INTEGER" property="isLegal" />
    <result column="space" jdbcType="INTEGER" property="space" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, category, image_type, video_type, title, subtitle, person_name, download_addr, download_code,
    image_urls, is_legal, space, status, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_source
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_source
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <select id="selectSelectivePage" parameterType="com.beauty.myweb.source.model.Source" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_source
    <trim prefix="where" prefixOverrides="or|and">
      <if test="category != null">
        or category = #{category}
      </if>
      <if test="imageType != null">
        or image_type = #{imageType}
      </if>
      <if test="videoType != null">
        or video_type = #{videoType}
      </if>
      <if test="personName != null">
        or person_name = #{personName}
      </if>
      <if test="title != null">
        or title = #{title}
      </if>
      <if test="subtitle != null">
        or subtitle = #{subtitle}
      </if>
      <if test="isLegal != null">
        and is_legal = #{isLegal}
      </if>
    </trim>
  </select>
</mapper>